body {
    color: #474747;
    font-family: arial;
}
#logo {
    height: 290px;
}

a {
    font: 13px Arial !important;
    color: #1f1f1f !important;
}

a:hover {
    text-decoration: underline !important;
}

.round-fix {
    border-radius: 20px !important;
}


/* Advanced search */
h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

label {
    font-size: 14px !important;
}
