#logo {
    height: 290px;
}

a {
    font: 13px Arial !important;
    color: black !important;
}

a:hover {
    text-decoration: underline !important;
}

.round-fix {
    border-radius: 20px !important;
}


/* Advanced search */
$color: #474747;

h1 {
    color: $color;
}

h2 {
    color: $color;
}
